<div>
	<ul class="nav nav-tabs">
                <li><a href="#" onclick="$('body').load('/main');">Capabilities</a></li>
                <li class="active"><a href="#" onclick="$('body').load('/blocks');">Blocks</a></li>
                <li><a href="#" onclick="$('body').load('/pending');">Pending</a></li>
        </ul>


	<h1>Blocks</h1>
	<div id="blocks">
		<ul>
		{{#each blocks}}
			<li>
				//Block info
			</li>
		{{/each}
		</ul>
	</div>
</div>
