<div>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#" onclick="$('body').load('/main');">Capabilities</a></li>
		<li><a href="#" onclick="$('body').load('/blocks');">Blocks</a></li>
		<li><a href="#" onclick="$('body').load('/pending');">Pending</a></li>
	</ul>
	<h1>Capabilities</h1>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Show Modal</button>
	<div id="modal-div">
		<div id="modal" class="modal fade" role="dialog">
        		<div class="modal-dialog">
                		<div class="modal-content">
                        		<div class="modal-header">
                                		<button type="button" class="close" data-dismiss="modal">&times;</button>
                        		</div>
                        		<div class="modal-body">
                                		<button class="btn btn-primary" onclick="generateKeypair()">Generate Keys</button>
                                		<button class="btn btn-primary" onclick="recover()">Recover w/ Mnemonic</button>
                        		</div>
                		</div>
        		</div>
		</div>
	</div>
</div>
