<div id="modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">	
				<button class="btn btn-primary" onclick="genKeypair()">Generate Keys</button>
				<button class="btn btn-primary" onclick="recover()">Recover w/ Mnemonic</button>
			</div>
		</div>
	</div>
</div>
