<div>
	<ul class="nav nav-tabs">
                <li><a href="#" onclick="$('body').load('/main');">Capabilities</a></li>
                <li><a href="#" onclick="$('body').load('/blocks');">Blocks</a></li>
                <li class="active"><a href="#" onclick="$('body').load('/pending');">Pending</a></li>
        </ul>


	<h1>Pending</h1>
	<div id="blocks">
		<ul>
		{{#each blocks}}
			<li>
				//Block info
				<input type="checkbox" id="check-{{id}}">
			</li>
		{{/each}
		</ul>
		Message: <input type="text" id="text-message"><br>
		<button class="btn btn-primary" onclick="acceptPending()">Accept Checked</button>
	</div>
</div>
